version: '3.8'

services:
  sistema-cisterna-app:
    container_name: sistema_cisterna_plc_v2
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8085:80"
    restart: always
